<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Genres List</title>
</head>
<body>
<div th:fragment="content">
    <h1>Genres</h1>

    <div class="row mb-3">
        <div class="col-md-12 text-end">
            <a href="/genres/create" class="btn btn-success">Add New Genre</a>
        </div>
    </div>

    <div class="row">
        <div th:each="genre : ${genres}" class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${genre.name}">Genre Name</h5>
                    <p class="card-text">Movies: <span th:text="${genre.movies.size()}"></span></p>
                    <a th:href="@{/genres/delete/{id}(id=${genre.id})}" class="btn btn-danger btn-sm"
                       th:if="${genre.movies.empty}"
                       onclick="return confirm('Are you sure?')">Delete</a>
                    <button class="btn btn-secondary btn-sm" disabled th:if="${!genre.movies.empty}">
                        Has Movies
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>